extends layout.pug

block content

  h1 Тест по математике
  #app
    form#test-form
      .questions
        // Выводим все вопросы, расставляем классы активности вопросов
        .question(
          v-for="(question, questionIndex) in questions"
          v-bind:class="{'question--active': questionIndex === activeElement}"
          :key="{questionIndex}")
          // Заголовок вопроса
          h3 {{questionIndex}}. {{question.question}}
          .radios
            // Выводим все радио баттоны
            .radio(v-for="(option, optionIndex) in question.options")
              label(v-on:click="optionClick")
                input(
                  type="radio"
                  :name="'option' + questionIndex"
                  :value="'option' + optionIndex")
                span {{option.optionName}}
    button#send-answer(v-on:click="sendAnswer" v-bind:class="{ disabled: isActive }").btn.btn-primary Дальше
